body
{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.house-body {
    width: 500px;
    height: 300px;
    background-color: #C89D7C;
}

.roof {
    width: 0;
    height: 0;
    border-left: 275px solid transparent;
    border-right: 275px solid transparent;
    border-bottom: 275px solid #D61E37;
}